body {
    background-image: url("img/background_flattened.png");
    background-repeat: repeat;
}

.godot #status-notice {
    background-image: url("img/background_flattened.png");
    background-repeat: repeat;
}

#status-progress {
	background-color: #0085E5 !important;
}

#status-progress-inner {
    background-color: #E5BF00 !important;
}
.logo-img {
    width: 128px;
    height: 128px;
}

.hbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.spacing {
    padding: 5px;
}

.vbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controlsbox {
    align-items: flex-start;
    padding: 10px;
}

.aboutbox {
    align-items: flex-start;
    padding: 10px;
    width: 40%;
}

.mainbox {
    margin-top: 100px
}

h1 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 48px;
    color: gainsboro;
    background-color: black;
}

h2 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 24x;
    color: gainsboro;
    background-color: black;

}

h3 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 18px;
    color: gainsboro;
    background-color: black;
}

h4 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 16px;
    color: gainsboro;
    background-color: black;
    margin: 5px;
}

p { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;    
    color: gainsboro;
    background-color: black;
}

ul { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 14px;    
    color: gainsboro;
    background-color: black;
}

li { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 14px;    
    color: gainsboro;
    background-color: black;
}

.token {
  padding: 2px 6px 2px 6px;
  background-color: #305c80;
  border: 1px solid #305c80;
  border-radius: 10px;
}
.dark {
    background-color: black;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}

.button {
  margin: 10px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  background-color: #393740;
  color: gainsboro;
  padding: 2px 6px 2px 6px;
  border: 1px solid #393740;
  border-radius: 10px;
}

.buttonfw {
  width: 400px;
}

.button:hover {
  background-color: #3269A8;
  border: 1px solid #3269A8;
}