@font-face {
    font-family: "Pixelar";
    src: url("fonts/Pixelar.woff2") format("woff2"),
         url("fonts/Pixelar.ttf") format("truetype");
}

body {
    background-image: url("img/background_flattened.png");
    background-repeat: repeat;
}

.godot #status-notice {
    background-image: url("img/background_flattened.png");
    background-repeat: repeat;
}

.logo-img {
    
}

.hbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.spacing {
    padding: /*5px*/0.3125em;
}

.vbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tutorialbox {
    align-items: center;
    padding: 0.625em/*10px*/;
}

.aboutbox {
    align-items: flex-start;
    padding: 0.625em/*10px*/;
    width: 40%;
}

.mainbox {
    margin-top: /*100px*/2.0em;
}

.guidebox {
    align-items: center;
}

.dualbuttonbox {
    justify-content: center;
}

.dualbutton {
    width: 8em;
}

.lessmarginbottom {
    margin-bottom: 0.25em;
}

.welcomebox {
    padding: 0.135em;
}
html {
    font-family: "Pixelar", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    color: gainsboro;
}

h1 {
    font-size: /*64px*/4em;
    background-color: black;
    font-weight: normal;	
    letter-spacing: 5px;
    margin-top: 0px;
    margin-bottom: 30px;
}

h2 {
    font-size: /*24x*/3em;
    background-color: black;
    font-weight: normal;
}

h3 {
    font-size: /*18px*/1.5em;
    background-color: black;
    font-weight: normal;
    margin: 0.75em;
}

h4 {
    font-size: /*16px*/1.25em;
    background-color: black;
    color: gainsboro;
    margin: 5px;
    font-weight: normal;
}

p { 
    font-size: /*13px*/0.813em; 
    background-color: black;
    font-weight: normal;

}

ul { 
    font-size: /*14px*/0.875em;    
    background-color: black;
    font-weight: normal;

}

li {
    font-size: /*14px*/0.865em;    
    background-color: black;
    font-weight: normal;
}

.token {
  padding: /*2px 6px 2px 6px*/0.125em 0.375em 0.125em 0.375em;
  margin-left: 0.375em;
  margin-right: 0.375em;
  background-color: #305c80;
  border: /*1px*/ 0.0625em solid #305c80;
  border-radius: /*10px*/ 0.625em;
}
.dark {
    background-color: black;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}

.button {
  margin: /*10px*/0.625em;
  font-family: "Pixelar", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: /*24px*/1.5em;
  text-align: center;
  text-decoration: none;
  background-color: #393740;
  color: gainsboro;
  padding: /*2px 6px 2px 6px*/0.125em 0.375em 0.125em 0.375em;
  border: /*1px*/ 0.0625em solid #393740;
  border-radius: /*10px*/ 0.625em;
  cursor: pointer;
}

.buttonfw {
  width: /*400px*/20em;
}

.tutorial-img {
  border: /*1px*/ 0.125em solid #393740;
  border-radius: /*10px*/ 0.625em;    
}

.button:hover {
  background-color: #3269A8;
  border: /*1px*/0.0625em solid #3269A8;
}

#logo {
}

#splashtext {
  transform: rotate(-20deg);
  color: #E5BF00;
  height: /*35px*/2.2em;
}

.dud {
  color #0085E5
}

